* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../assets/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "RobotoRegular";
    src: url('../assets/Roboto-Regular.ttf');
    font-weight: 400;

}

@font-face {
    font-family: "RobotoBold";
    src: url('../assets/Roboto-Bold.ttf');
    font-weight: 500;
}